In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
from collections import Counter

In [3]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

# Read the CSV and Perform Basic Data Cleaning

In [4]:
# https://help.lendingclub.com/hc/en-us/articles/215488038-What-do-the-different-Note-statuses-mean-

columns = [
    "loan_amnt", "int_rate", "installment", "home_ownership",
    "annual_inc", "verification_status", "issue_d", "loan_status",
    "pymnt_plan", "dti", "delinq_2yrs", "inq_last_6mths",
    "open_acc", "pub_rec", "revol_bal", "total_acc",
    "initial_list_status", "out_prncp", "out_prncp_inv", "total_pymnt",
    "total_pymnt_inv", "total_rec_prncp", "total_rec_int", "total_rec_late_fee",
    "recoveries", "collection_recovery_fee", "last_pymnt_amnt", "next_pymnt_d",
    "collections_12_mths_ex_med", "policy_code", "application_type", "acc_now_delinq",
    "tot_coll_amt", "tot_cur_bal", "open_acc_6m", "open_act_il",
    "open_il_12m", "open_il_24m", "mths_since_rcnt_il", "total_bal_il",
    "il_util", "open_rv_12m", "open_rv_24m", "max_bal_bc",
    "all_util", "total_rev_hi_lim", "inq_fi", "total_cu_tl",
    "inq_last_12m", "acc_open_past_24mths", "avg_cur_bal", "bc_open_to_buy",
    "bc_util", "chargeoff_within_12_mths", "delinq_amnt", "mo_sin_old_il_acct",
    "mo_sin_old_rev_tl_op", "mo_sin_rcnt_rev_tl_op", "mo_sin_rcnt_tl", "mort_acc",
    "mths_since_recent_bc", "mths_since_recent_inq", "num_accts_ever_120_pd", "num_actv_bc_tl",
    "num_actv_rev_tl", "num_bc_sats", "num_bc_tl", "num_il_tl",
    "num_op_rev_tl", "num_rev_accts", "num_rev_tl_bal_gt_0",
    "num_sats", "num_tl_120dpd_2m", "num_tl_30dpd", "num_tl_90g_dpd_24m",
    "num_tl_op_past_12m", "pct_tl_nvr_dlq", "percent_bc_gt_75", "pub_rec_bankruptcies",
    "tax_liens", "tot_hi_cred_lim", "total_bal_ex_mort", "total_bc_limit",
    "total_il_high_credit_limit", "hardship_flag", "debt_settlement_flag"
]

target = ["loan_status"]

In [5]:
# Load the data
# Load the data (Had to zip up the file and include it in the folder)
df = pd.read_csv('LoanStats_2019Q1.csv.zip', skiprows=1)[:-2]
df = df.loc[:, columns].copy()

# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')

# Drop the null rows
df = df.dropna()

# Remove the `Issued` loan status
issued_mask = df['loan_status'] != 'Issued'
df = df.loc[issued_mask]

# convert interest rate to numerical
df['int_rate'] = df['int_rate'].str.replace('%', '')
df['int_rate'] = df['int_rate'].astype('float') / 100


# Convert the target column values to low_risk and high_risk based on their values
x = {'Current': 'low_risk'}   
df = df.replace(x)

x = dict.fromkeys(['Late (31-120 days)', 'Late (16-30 days)', 'Default', 'In Grace Period'], 'high_risk')    
df = df.replace(x)

df.reset_index(inplace=True, drop=True)

df.head()

   loan_amnt  int_rate  ...  hardship_flag debt_settlement_flag
0    10500.0    0.1719  ...              N                    N
1    25000.0    0.2000  ...              N                    N
2    20000.0    0.2000  ...              N                    N
3    10000.0    0.1640  ...              N                    N
4    22000.0    0.1474  ...              N                    N

[5 rows x 86 columns]

# Split the Data into Training and Testing

In [6]:
# Create our features
# first, drop the Loan Status column from the data frame since that is the target outcomes for supervised learning
X = df.drop(columns="loan_status")
# then, create the training variables by converting the string values into numerical ones using the get_dummies() method.
X = pd.get_dummies(X)


# Create our target variable - use the "loan_status" column from the original dataframe
y = df.loc[:, target].copy() # where 'target' is the "loan_status" column

In [7]:
X.describe()

          loan_amnt      int_rate  ...  hardship_flag_N  debt_settlement_flag_N
count  68817.000000  68817.000000  ...          68817.0                 68817.0
mean   16677.594562      0.127718  ...              1.0                     1.0
std    10277.348590      0.048130  ...              0.0                     0.0
min     1000.000000      0.060000  ...              1.0                     1.0
25%     9000.000000      0.088100  ...              1.0                     1.0
50%    15000.000000      0.118000  ...              1.0                     1.0
75%    24000.000000      0.155700  ...              1.0                     1.0
max    40000.000000      0.308400  ...              1.0                     1.0

[8 rows x 95 columns]

In [8]:
# Check the balance of our target values
y['loan_status'].value_counts()

low_risk     68470
high_risk      347
Name: loan_status, dtype: int64

In [10]:
from sklearn.model_selection import train_test_split
# create the x_train, x_test, y_train, and y_test data using train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y, random_state=1) #using a random state of 1 per the instructions below

# Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble AdaBoost classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Print the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier onely, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier - Modified to a Regular Random Forest Classifier

In [27]:
# Resample the training data with the BalancedRandomForestClassifier
# import the neccessary modules
#from imblearn.ensemble import BalancedRandomForestClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler # used to help fit the data

# create a BalancedRandomForestClassifier Model with 100 estimators and a random state of 1 (per the assignment instructions)
#balancedForestModel = BalancedRandomForestClassifier(n_estimators=100, random_state=1)

# fit the model using the training data
#balancedForestModel.fit(x_train, y_train)

# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
x_scaler = scaler.fit(x_train)

# Scaling the data.
x_train_scaled = x_scaler.transform(x_train)
x_test_scaled = x_scaler.transform(x_test)

# create a RandomForestClassifier Model with 100 estimators and a random state of 1 (per the assignment instructions)
rf_model = RandomForestClassifier(n_estimators=100, random_state=1) 
rf_model = rf_model.fit(x_train_scaled, y_train)

In [29]:
# Calculated the balanced accuracy score
# first import the balanced_accuracy_score module
from sklearn.metrics import balanced_accuracy_score

# then, use the following code to generate predictions using the scaled testing data
y_predicted = rf_model.predict(x_test_scaled)

# last, print the Balanced Accuracy
print(f"Balanced Accuracy Score (rounded): {balanced_accuracy_score(y_test, y_predicted):.5f}")

Balanced Accuracy Score (rounded): 0.68302

In [32]:
# Display the confusion matrix
# first, import the relevant module for the confusion matrix
from sklearn.metrics import confusion_matrix

# print the confusion_matrix, which is the table of true positives, false positives, true negatives, and false negatives.
cm = confusion_matrix(y_test, y_predicted)

cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0           37           64
Actual 1            5        17099

In [31]:
# Print the imbalanced classification report
# import the module for the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced

# print the report
print(classification_report_imbalanced(y_test, y_predicted))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.88      0.37      1.00      0.52      0.61      0.34       101
   low_risk       1.00      1.00      0.37      1.00      0.61      0.39     17104

avg / total       1.00      1.00      0.37      1.00      0.61      0.39     17205

In [35]:
# List the features sorted in descending order by feature importance
# calculate the feature importance, using the feature_importances_attribute
importances = rf_model.feature_importances_
cols = X.columns # grabs the column names

# Store in a DataFrame
feature_importances_df = pd.DataFrame({'feature':cols, 'importance': importances})

# Sort the DataFrame
feature_importances_df.sort_values('importance', ascending=False)

                   feature  importance
14         total_pymnt_inv    0.072764
20         last_pymnt_amnt    0.068343
15         total_rec_prncp    0.067823
13             total_pymnt    0.057396
16           total_rec_int    0.057208
..                     ...         ...
23          acc_now_delinq    0.000000
18              recoveries    0.000000
65            num_tl_30dpd    0.000000
22             policy_code    0.000000
94  debt_settlement_flag_N    0.000000

[95 rows x 2 columns]

### Easy Ensemble AdaBoost Classifier

In [37]:
# Train the EasyEnsembleClassifier
# import the neccessary module
from imblearn.ensemble import EasyEnsembleClassifier

# create the EasyEnsembleClassifier Model with 100 estimators and a random state of 1
eec = EasyEnsembleClassifier(n_estimators=100, random_state=1)

# fit the model using the training data
eec.fit(x_train, y_train)

EasyEnsembleClassifier(base_estimator=None, n_estimators=100, n_jobs=1,
                       random_state=1, replacement=False,
                       sampling_strategy='auto', verbose=0, warm_start=False)

In [38]:
# Calculated the balanced accuracy score
# assess the accuracy score of the EasyEnsembleClassifier model, using the balanced_accuracy_score module
# generate the predicted outcomes using the testing data
y_predicted = eec.predict(x_test)

print(f"Balanced Accuracy Score (rounded): {balanced_accuracy_score(y_test, y_predicted):.5f}")

Balanced Accuracy Score (rounded): 0.93166

In [39]:
# Display the confusion matrix
cm = confusion_matrix(y_test, y_predicted)

cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0           93            8
Actual 1          983        16121

In [40]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_predicted))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.09      0.92      0.94      0.16      0.93      0.87       101
   low_risk       1.00      0.94      0.92      0.97      0.93      0.87     17104

avg / total       0.99      0.94      0.92      0.97      0.93      0.87     17205